
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto" !important;
}


.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
ul.unstyled-ul {
    list-style: none;
    padding: 0;
}


.bg-blue {
    background-color: #006fb7;
}
.bg-gray {
    background-color: #f2f2f2;
}
.bg-charcoal {
    background-color: #4D4D4D;
}


.text-orange {
    color: #CB4B11 !important;
}
.text-blue {
    color: #006FB7 !important;
}


a {
    color: #006fb7;
}
a:hover {
    text-decoration: none;
}


/* Headings */

h2,
h3,
h4 {
    font-weight: bold;
    color: #000000;
}

h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
    font-weight: 500;
}

h2 a,
h3 a,
h4 a {
    color: #000000;
    text-decoration: none;
}
h2.sub-heading a {
    text-align: left !important;
}
h3.block-title {
    text-align: center;
}
h3.block-title::after {
    text-align: center;
    content: '';
    display: block;
    margin: auto;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    border-top: #009edb solid 3px;
    width: 100px;
}

.sub-heading a:after {
    content: '';
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: #009edb solid 3px;
    width: 33%;
}


body .nav-tabs.resources-nav-tab {
    border-bottom: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}
body .nav-tabs.resources-nav-tab .nav-link {
    background-color: #f2f2f2;
}
body .nav-tabs.resources-nav-tab li:first-child .nav-link {
    border-top-left-radius: 10px;
}
body .nav-tabs.resources-nav-tab li:last-child .nav-link {
    border-top-right-radius: 10px;
}
body .nav-tabs.resources-nav-tab .nav-link:hover, 
body .nav-tabs.resources-nav-tab .nav-link:focus {
    border-right-color: #FFFFFF;
}
body .nav-tabs.resources-nav-tab .nav-link.active, 
body .nav-tabs.resources-nav-tab .nav-item.show .nav-link {
    background-color: #cb4b11;
    border-right-color: #cb4b11;
    color: #FFFFFF;
}
body .nav-tabs.resources-nav-tab .nav-link {
    padding: 1rem;
}
body .nav-tabs.resources-nav-tab .nav-link {
    border-radius: 0;
    border: none;
    margin: auto;
    border-right: 1px solid #FFFFFF;
}



a.priority-wrapper {
    display: block;
    color: #000000;
    border-radius: 10px;
    padding: 1.5rem;
}
a.priority-wrapper h5 {
    font-size: 1.2rem;
    font-weight: 500;
}
a.priority-wrapper img {
    width: 60px;
}
a.priority-wrapper:hover {
    background-color: #ffffff !important;
    box-shadow: 0 0 20px 3px rgb(0 52 120 / 20%);
}



/* Events */

.evt-date {
    border: 2px solid #006FB7;
    padding: 15px;
    color: #006FB7;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-right: 15px;
}
.view-events .views-row .views-field,
.view-events .views-row .views-field .field-content,
.view-events .views-row .views-field .field-content .bg-gray {
    border-radius: 5px;
    display: block;
    height: 100%;
}
.view-events .views-row .views-field .field-content .bg-gray:hover {
    background-color: #ffffff !important;
    box-shadow: 0 0 20px 3px rgb(0 52 120 / 20%);
}


/* Slick slider */

.view-content-slick .view-content > div {
    padding: 0 1rem;
}
.view-content-slick .view-content img {
    border-radius: 2px;
    border:  1px solid #949494;
    margin: 0 1rem;
}
.view-content-slick .view-content img:hover{
    border: 1px solid #CB4B11;
}
.view-content-slick button.slick-arrow {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
    width: 26px;
    height: 26px;
    background-color: rgb(148, 148, 148);
    background-position: initial initial;
    background-repeat: initial initial;
}
/* .view-content-slick button.slick-arrow::before {
    text-indent: 0 !important;
} */



.photo-credits-wrapper {
    font-size: 14px;
    margin-top: 1.5rem;
    letter-spacing: 0.04rem;
    line-height: 1.364;
    color: #666666;
}
.photo-credits-wrapper:before {
    content: '';
    margin-left: 0.1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border-left: #999999 solid 3px;
}
.photo-credits-wrapper .photo-credits {
    font-weight: 700;
    color: #4d4d4d;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    margin-right: 0.7rem;
}




.styled-more-link .more-link a {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 3px;
    border: 1px solid #006FB7;
    text-transform: uppercase;
    font-size: 13px;
}




/* Layout */

.container {
    max-width: 992px;
}
.region-header-top {
    width: 100%;
}


#block-mainnavigation {
    position: relative;
}
#block-mainnavigation .sf-accordion-toggle {
    position: absolute;
    right: 10px;
    top: -60px;
}
div.sf-accordion-toggle.sf-style-black a {
    background: transparent;
    border: none;
    color: #006fb7;
    display: inline-block;
    font-weight: bold;
    padding: 0;
    position: relative;
}
div.sf-accordion-toggle.sf-style-black a span {
    display: none;
}
div.sf-accordion-toggle.sf-style-black a.sf-expanded, 
ul.sf-menu.sf-style-black.sf-accordion li.sf-expanded {
    background-color: transparent;
}
div.sf-accordion-toggle.sf-style-black > a:after {
    position: relative !important;
    font-size: 3rem !important;
    top: inherit !important;
    right: inherit !important;
}

@media (min-width: 768px) and (max-width: 830px) {
    ul.sf-menu.sf-style-black a, 
    ul.sf-menu.sf-style-black a:visited, 
    ul.sf-menu.sf-style-black span.nolink {
        padding: 0.75em 0.7em;
    }
}
@media (max-width: 767px) {
    .region-nav-main .block-superfish, 
    ul.sf-menu.sf-style-black.sf-navbar {
        background-color: transparent !important;
    }
    ul.sf-menu.sf-accordion.sf-expanded {
        margin-bottom: 1.5rem;
    }
    .main-nav-wrapper {
        background-color: transparent !important;
    }
    .main-nav-wrapper .container {
        padding: 0;
    }
    .social-links-top {
        display: none;
    }
    body .region-content {
        padding-top: 0 !important;
    }
    .navbar-brand img {
        max-height: 80px;
        height: auto !important;
    }
    .block-system-branding-block {
        padding-right: 40px;
    }
}





/* Search form */

.search-block-form .form-actions {
    margin: auto !important;
}
.search-block-form input[type=search] {
    border-radius: 4px 0 0 4px;
}
.search-block-form input[type=submit] {
    width: 50px;
    height: 38px;
    text-indent: -9999px;
    background-color: transparent;
    border: 2px solid #009edb !important;
    border-radius: 0 4px 4px 0;
}
.search-block-form .form-actions {
    position: relative;
}
.search-block-form .form-actions::before {
    position: absolute;
    left: 40%;
    top: 10px;
    font-family: 'Font Awesome 6 Free'; 
    content: "\f002"; 
}




img {
    max-width: 100%;
    height: auto;
}


/* View styles */

.view-content-row .view-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.view-content-row.small-gutter .view-content {
    margin-right: -5px;
    margin-left: -5px;
}
.view-content-row.small-gutter .view-content > a {
    padding: 5px;
}
.more-link {
    padding-top: 2rem;
    text-align: center;
}



.field--label-inline {
    display: flex;
}

.field--label-inline .field--label {
    display: inline-block;
    padding-right: 1rem;
    font-weight: bold;
}
.field--label-inline .field--label::after {
    content: ':';
}

.field--label-inline .field--items {   
}
.field--label-inline .field--items .field--item {
    display: inline-block;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    padding: 0 0.4rem;
    border-radius: 4px;
    margin-right: 2px;
}




.region-content-top {
    margin: 2rem 0;
}
.breadcrumb {
    text-align: center;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0.5rem;
    display: block;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #FFFFFF;
    float: none;
}
h1.page-title {
    text-align: center;
    border-radius: 50% !important;
}


.shareon a:hover {
    color: white !important;
}
.shareon a.facebook {
    background-color: #3b5a9a
}
.shareon a.twitter {
    background-color: #1aa9e1
}
.shareon a.linkedin {
    background-color: #0073b2
}
.shareon a.whatsapp {
    background-color: green
}
.shareon a.pinterest {
    background-color: red
}

.share-separator {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid #c4c4c4;
}




.staff-list .staff-member{
    margin-bottom: 40px;
    padding: 20px 10px;
}
.staff-member.text-center:hover {
    background-color: #ededed;
    border-radius: 5px;  
}
.staff-list .staff-member img {
    width: 80%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px 3px rgb(0 52 120 / 20%);
    border-radius: 50%;
}
.staff-list .staff-member h4 {
    font-size: 1.0rem;
}
.staff-list .staff-member h4 a {
    color: #003167;
}
.staff-list .staff-member .staff-meta a {
    display: block;
    margin-top: 0.5rem;
    color: #CB4B11;
}



.staff-page img {
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px 3px rgb(0 52 120 / 20%);
    border-radius: 50%;
}



body .region-content {
    padding: 2rem 0;
}
.content_top {
    color: #FFFFFF;
    background-color: #0374be;
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content_top a {
    color: #FFFFFF;
}

/* Sidebar styles */

.region-sidebar-second {
    padding: 2rem 0;
}
#block-latesttweets {
    background-color: #f2f2f2;
    padding: 1.2rem;
    border-radius: 5px;
    min-height: 350px;
}
#block-latesttweets h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}



.node--type-page.node--view-mode-full .field--name-field-media-image {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}
.article-wrapper {
    padding: 5rem;
}




/* Header styles */

#brand-bar {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    border: none !important;
    border-bottom: #009edb solid 5px !important;
    min-height: auto;
}
#brand-bar .navbar-header {
    width: 100%;
}
#brand-bar .brandbar-header {
    padding-left: 6rem;
    padding-right: 6rem; 
}
#brand-bar .brandbar-header a {
    padding: 0;
    font-size: 0.8rem;
    line-height: 2.0rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: black; 
}

#brand-bar .brandbar-header a.navbar-brand:before {
    font-family: "Font Awesome 6 Free" !important;
    color: black;
    content: "\f015";
    margin-right: 0.5rem;
    float: left; 
}
  
.language-switcher button.navbar-toggle {
    margin-top: 0;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 0;
    margin-right: 2px; 
}
.language-switcher button.navbar-toggle span.icon-bar {
    background-color: #009edb; 
}
body.i18n-ar .language-switcher button.navbar-toggle {
    margin-right: 0;
    margin-left: 2px; 
}



.navbar-brand img {
    height: 90px;
}




/* Superfish menu */

ul.sf-menu {
    font-size: 1.02rem;
}
ul.sf-menu.sf-style-black a {
    text-decoration: none;
    font-weight: 500;
}
ul.menu a.sf-depth-1.is-active,
ul.sf-menu .active-trail span.sf-depth-1 {
    background-color: #cb4b11 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}
ul.menu li a.is-active {
    font-weight: bold;
    color: #cb4b11 !important;
}


.region-nav-main .block-superfish,
ul.sf-menu.sf-style-black.sf-navbar,
ul.sf-menu.sf-style-black li {
    background-color: #4D4D4D;
}
ul.sf-menu.sf-style-black {
    margin-bottom: 0;
}
ul.sf-menu.sf-style-black li:hover, 
ul.sf-menu.sf-style-black li.sfHover, 
ul.sf-menu.sf-style-black a:focus, 
ul.sf-menu.sf-style-black a:hover, 
ul.sf-menu.sf-style-black span.nolink:hover {
    background-color: #e3e3e3;
}
ul.sf-menu.sf-style-black a:hover {
    color: #4D4D4D;
}
ul.sf-menu.sf-style-black .sfHover a,
ul.sf-menu.sf-style-black .sfHover a:visited,
ul.sf-menu.sf-style-black .sfHover span.nolink {
    color: #4D4D4D;
}
.sfHover > span {
    color: #4D4D4D !important;
}
ul.sf-menu.sf-style-black li li,
ul.sf-menu.sf-style-black.sf-navbar > li > ul {
    background-color: #e3e3e3;
}
ul.sf-menu li:hover > ul, 
ul.sf-menu li.sfHover > ul {
    margin-top: -1px;
}



/* Contact us page */

#block-queriesguidelines,
.contact-message-feedback-form {
    display: block;
    margin: 2rem auto;
    max-width: 700px;
}
#block-getintouch {
    text-align: center;
}
#block-queriesguidelines table {
    width: 100%;
}
.contact-message-feedback-form .form-textarea-wrapper textarea.form-control {
    max-height: 200px;
}
.contact-message-feedback-form .form-submit {
    display: block;
    width: 100%;
}



/* footer styles */

.footer_top {
    background-color: #f2f2f2;
    padding: 3rem 0;
}
.footer_top .footer-top-border {
    padding-top: 2rem;
    border-top: 0.3rem #ededed solid;
}
.footer_top h4,
.footer_top .h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #454545;
    letter-spacing: 0.95px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
}
.footer_top h4::after,
.footer_top .h4::after {
    content: "";
    display: block;
    margin-left: 1px;
    margin-top: 0.8rem;
    border-top: #009edb solid 3px;
    width: 15%;
}

.footer_top ul.nav {
    color: #454545;
    letter-spacing: -0.35px;
    margin-bottom: 2rem;
}
.footer_top ul.nav li {
    margin-bottom: 0.6rem;
    padding-left: 1.4rem;
}
.footer_top ul.nav li a {
    padding: 0;
    display: inline;
    color: #454545;
}
.footer_top ul.nav li::before {
    font-family: "Font Awesome 6 Free" !important;
    content: "\f111";
    float: left;
    font-size: 0.75rem;
    margin-left: -1.4rem;
    padding-top: 0rem;
    color: #c4c4c4;
}
.footer_top ul.unstyled-ul li {
    padding-bottom: 0.8rem;
}






.footer {
    border-top: #009edb solid 0.3rem;
    background: #333333;
    margin-top: 0;
    padding-top: 1.8rem;
    padding-bottom: 2.0rem;
}
.footer .footer-brand a {
    display: block;
    padding: 0;
    width: 10rem;
    height: 4.0rem;
    background: url('../images/logo-en-reverse.svg') no-repeat;
    background-position: top left; 
}



.footer .social-media {
    margin-top: 1.2rem; 
}
.social-media li.list-inline-item {
    padding: 0;
    margin: 0;
}
.social-media li a {
    padding: 0;
    margin-right: 1.7rem;
    background-color: transparent;
    display: inline-block;
    color: #c4c4c4;
    font-size: 1.5rem;
}
.social-media li:last-child a {
    margin-right: 0;
}
.social-media li a span.icon-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.social-media li a:hover,
.social-media li a:focus {
    background-color: transparent;
    outline: none;
}



.footer .menu--footer .navbar-nav {
    flex-direction: unset;
    float: right;
}
.footer .menu--footer {
    font-size: 0.75rem;
    border-top: #5b5b5b solid 1px;
    margin-top: 0.7rem;
    padding-top: 1.5rem;
}
.footer .menu--footer .nav li {
    padding: 0 1.1rem 0 0.9rem;
    border-right: gray solid 0.2rem;
}
.footer .menu--footer .nav li:last-child {
    padding-right: 0;
    border-right: none;
}
.footer .menu--footer .nav li > a {
    font-weight: 400;
    color: white;
    line-height: 1;
    padding: 0;
    text-transform: uppercase;
}
.footer .menu--footer .nav li > a:hover, 
.footer .menu--footer .nav li > a:focus {
    background-color: transparent;
    outline: none; 
}