{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media-',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {{ content|without('field_credits') }}

    {% if content.field_credits %}
        <div class="photo-credits-wrapper mt-0 d-block pt-2 pb-4">
            <span class="photo-credits">Photo:</span>
            <span class="photo-credits-by">{{ content.field_credits }}</span>
        </div>
    {% endif %}
  {% endif %}
</article>
