{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
set nav_classes = 'navbar navbar-expand-lg' ~ 
  (b4_navbar_schema != 'none' ? " navbar-#{b4_navbar_schema}" : ' ') ~
  (b4_navbar_schema != 'none' ? (b4_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_navbar_bg_schema != 'none' ? " bg-#{b4_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~ 
  (b4_footer_schema != 'none' ? " footer-#{b4_footer_schema}" : ' ') ~
  (b4_footer_schema != 'none' ? (b4_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_footer_bg_schema != 'none' ? " bg-#{b4_footer_bg_schema}" : ' ')
%}

<header>
    <nav id="brand-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        {{ page.header_top }}  
    </nav>

  {{ page.header }}  

  {% if page.nav_branding or page.nav_main or page.nav_additional %}  
  <nav class="{{ nav_classes }}">
    <div class="{{ b4_top_container }} row mx-auto">
      <div class="col-auto p-0">
      {{ page.nav_branding }}  
      </div>

      <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
        {{ page.nav_additional }}      
      </div>
    </div>
  </nav>
  {% endif %}
  
    <div class="main-nav-wrapper bg-charcoal">
    <div class="region-header container">
        {{ page.nav_main }} 
    </div>
    </div>
</header>

{% if page.content_top %}
<div class="content_top">
    <div class="container">
        {{ page.content_top }}
    </div>
</div>
{% endif %}

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {% 
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}
  
  {% 
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}
  
  {% 
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
   %}


  <div class="{{ b4_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

</main>

{% if page.content_bottom %}
<div class="content_bottom bg-gray py-4">
    <div class="container">
        {{ page.content_bottom }}
    </div>
</div>
{% endif %}

{% if page.content_tab1 %}
<div class="content_tabs pt-5 pb-2">
    <div class="container">
        <div class="text-center">
            <h3 class="block-title">Resources</h3>
        </div>
        <ul class="nav resources-nav-tab nav-tabs row no-gutters text-center" id="resourcesTab" role="tablist">
            <li class="nav-item col-6 col-md-3">
                <a class="nav-link active" id="speaches-tab" data-toggle="tab" href="#speaches" role="tab" aria-controls="speaches"
                    aria-selected="true">Speeches</a>
            </li>
            <li class="nav-item col-6 col-md-3">
                <a class="nav-link" id="publications-tab" data-toggle="tab" href="#publications" role="tab" aria-controls="publications"
                    aria-selected="false">Publications</a>
            </li>
            <li class="nav-item col-6 col-md-3">
                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events"
                    aria-selected="false">Events</a>
            </li>
            <li class="nav-item col-6 col-md-3">
                <a class="nav-link" id="databases-tab" data-toggle="tab" href="#databases" role="tab" aria-controls="databases"
                    aria-selected="false">Databases</a>
            </li>
        </ul>
        <div class="tab-content pt-4" id="resourcesTabContent">
            <div class="tab-pane fade show active" id="speaches" role="tabpanel" aria-labelledby="speaches-tab">
                {{ page.content_tab1 }}
            </div>
            <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications-tab">
                {{ page.content_tab2 }}
            </div>
            <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                {{ page.content_tab3 }}
            </div>
            <div class="tab-pane fade" id="databases" role="tabpanel" aria-labelledby="databases-tab">
                {{ page.content_tab4 }}
            </div>
        </div>

    </div>
</div>
{% endif %}

{% if page.content_tab_bottom %}
<div class="content_tab_bottom py-4">
    <div class="container">
        {{ page.content_tab_bottom }}
    </div>
    {# <script type="text/javascript">
        $(document).ready(function(){
            $('.view-content-slick .view-content').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        });
    </script> #}
</div>
{% endif %}

<div class="footer_top gray-bg section-fluid footer_top-fluid mt-auto {{ footer_top_classes }}">
  <div class="{{ b4_top_container }}">
    <div class="footer-top-border"></div>
        <div class="row">
            <div class="col-md-6 col-lg-3">{{ page.footer_top_1 }}</div>
            <div class="col-md-6 col-lg-3">{{ page.footer_top_2 }}</div>
            <div class="col-md-6 col-lg-3">{{ page.footer_top_3 }}</div>
            <div class="col-md-6 col-lg-3">{{ page.footer_top_4 }}</div>
        </div>    
  </div>
</div>

{% if page.footer %}
<footer class="footer section-fluid footer-fluid mt-auto {{ footer_classes }}">
  <div class="{{ b4_top_container }}">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
